:root {
	--color-brand-medium-purple: #9879e9;
	--color-brand-slate-blue: #7559d1;
	--color-brand-mandy: #eb4e58;
	--color-brand-white-lilac: #e8e8e8;
	--color-brand-hint-of-red: #f9f9f9;
	--color-brand-romance: #fcfdfd;
	--color-brand-east-bay: #455970;
	--color-brand-regent-gray: #7e858c;
	--color-brand-loblolly: #b7b7b7;
	--color-brand-blue-moon: #eff1fd;
	--color-transparent: transparent;
	--color-black: #000;
	--color-white: #fff;
	
	--color-gray-100: #f7fafc;
	--color-gray-200: #edf2f7;
	--color-gray-300: #e2e8f0;
	--color-gray-400: #cbd5e0;
	--color-gray-500: #a0aec0;
	--color-gray-600: #718096;
	--color-gray-700: #4a5568;
	--color-gray-800: #2d3748;
	--color-gray-900: #1a202c;
	
	--color-red-100: #fff5f5;
	--color-red-200: #fed7d7;
	--color-red-300: #feb2b2;
	--color-red-400: #fc8181;
	--color-red-500: #f56565;
	--color-red-600: #e53e3e;
	--color-red-700: #c53030;
	--color-red-800: #9b2c2c;
	--color-red-900: #742a2a;
	
	--color-orange-100: #fffaf0;
	--color-orange-200: #feebc8;
	--color-orange-300: #fbd38d;
	--color-orange-400: #f6ad55;
	--color-orange-500: #ed8936;
	--color-orange-600: #dd6b20;
	--color-orange-700: #c05621;
	--color-orange-800: #9c4221;
	--color-orange-900: #7b341e;
	
	--color-yellow-100: #fffff0;
	--color-yellow-200: #fefcbf;
	--color-yellow-300: #faf089;
	--color-yellow-400: #f6e05e;
	--color-yellow-500: #ecc94b;
	--color-yellow-600: #d69e2e;
	--color-yellow-700: #b7791f;
	--color-yellow-800: #975a16;
	--color-yellow-900: #744210;
	
	--color-green-100: #f0fff4;
	--color-green-200: #c6f6d5;
	--color-green-300: #9ae6b4;
	--color-green-400: #68d391;
	--color-green-500: #48bb78;
	--color-green-600: #38a169;
	--color-green-700: #2f855a;
	--color-green-800: #276749;
	--color-green-900: #22543d;
	
	--color-teal-100: #e6fffa;
	--color-teal-200: #b2f5ea;
	--color-teal-300: #81e6d9;
	--color-teal-400: #4fd1c5;
	--color-teal-500: #38b2ac;
	--color-teal-600: #319795;
	--color-teal-700: #2c7a7b;
	--color-teal-800: #285e61;
	--color-teal-900: #234e52;
	
	--color-blue-100: #ebf8ff;
	--color-blue-200: #bee3f8;
	--color-blue-300: #90cdf4;
	--color-blue-400: #63b3ed;
	--color-blue-500: #4299e1;
	--color-blue-600: #3182ce;
	--color-blue-700: #2b6cb0;
	--color-blue-800: #2c5282;
	--color-blue-900: #2a4365;
	
	--color-indigo-100: #ebf4ff;
	--color-indigo-200: #c3dafe;
	--color-indigo-300: #a3bffa;
	--color-indigo-400: #7f9cf5;
	--color-indigo-500: #667eea;
	--color-indigo-600: #5a67d8;
	--color-indigo-700: #4c51bf;
	--color-indigo-800: #434190;
	--color-indigo-900: #3c366b;
	
	--color-purple-100: #faf5ff;
	--color-purple-200: #e9d8fd;
	--color-purple-300: #d6bcfa;
	--color-purple-400: #b794f4;
	--color-purple-500: #9f7aea;
	--color-purple-600: #805ad5;
	--color-purple-700: #6b46c1;
	--color-purple-800: #553c9a;
	--color-purple-900: #44337a;
	
	--color-pink-100: #fff5f7;
	--color-pink-200: #fed7e2;
	--color-pink-300: #fbb6ce;
	--color-pink-400: #f687b3;
	--color-pink-500: #ed64a6;
	--color-pink-600: #d53f8c;
	--color-pink-700: #b83280;
	--color-pink-800: #97266d;
	--color-pink-900: #702459;
	
	--spacing-none: 0;
	--spacing-xs: 5;
	--spacing-sm: 15;
	--spacing-md: 20;
	--spacing-lg: 40;
	
	
	--media-query-min-width-sm: 576px;
	--media-query-min-width-md: 768px;
	--media-query-min-width-lg: 992px;
	--media-query-min-width-xl: 1200px;
	
	--media-query-max-width-xs: 575.98px;
	--media-query-max-width-sm: 767.98px;
	--media-query-max-width-md: 991.98px;
	--media-query-max-width-lg: 1199px;
	
	--font-family-sans: Quicksand, Arial, sans-serif;
	
	--font-size-base: 10px;
	--font-size-xs: 1.1rem;
	--font-size-sm: 1.3rem;
	--font-size-md: 1.5rem;
	--font-size-lg: 1.8rem;
	--font-size-xl: 2.1rem;
	--font-size-2xl: 6rem;
	
	--font-weight-hairline: 100;
	--font-weight-thin: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;
	
	--line-height-none: 1;
	--line-height-tight: 1.25;
	--line-height-snug: 1.375;
	--line-height-normal: 1.5;
	--line-height-relaxed: 1.625;
	--line-height-loose: 2;
	
	--letter-spacing-tighter: -.05em;
	--letter-spacing-tight: -.025em;
	--letter-spacing-normal: 0;
	--letter-spacing-wide: .025em;
	--letter-spacing-wider: .05em;
	--letter-spacing-widest: .1em;
	
	--box-shadow-none: none;
	--box-shadow-sm: 0px 4px 5px #e8e8e8;
	
	--border-radius-none: 0;
	--border-radius-sm: 10px;
	--border-radius-lg: 30px;
	--border-radius-full: 9999px;
	
	--border-width-none: 0;
	--border-width-default: 1px;
	
	--opacity-0: 0;
	--opacity-25: 0.25;
	--opacity-50: 0.5;
	--opacity-75: 0.75;
	--opacity-100: 1;
	
	--z-index-0: 0;
	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-30: 30;
	--z-index-40: 40;
	--z-index-50: 50;
	--z-index-auto: auto;
	
	--color-primary: #9879e9;
	--color-primary-highlight: #eff1fd;
	--color-primary-muted: #7559d1;
	--color-secondary: #eb4e58;
	--color-font-base: #455970;
	--color-font-highlight: #b7b7b7;
	--color-font-muted: #7e858c;
	
	--background-color-primary: #f9f9f9;
	--background-color-highlight: #fcfdfd;
	
	--container-max-width: 800px;
	
	--button-max-width: 300px;
	
	--input-height: 38px;
}