.dropdown {
  display: inline-block;
  position: relative;
  height: var(--input-height);
}

/* FIXME: wrap .icon as a global class with css modules */
.dropdown .icon {
  position: absolute;
  right: 1px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-select {
  border: var(--border-width-default) solid var(--color-primary);
  border-radius: var(--border-radius-lg);
  padding: 10px 30px 10px 20px;
  color: var(--color-font-base);
}
