.heading {
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans);
}

.color-default {
	color: var(--color-font-base);
}

.color-primary {
	color: var(--color-primary);
}

.size-xs {
	font-size: var(--font-size-xs);
}

.size-sm {
	font-size: var(--font-size-sm);
}

.size-md {
	font-size: var(--font-size-md);
}

.size-lg {
	font-size: var(--font-size-lg);
}

.size-xl {
	font-size: var(--font-size-xl);
}

.size-2xl {
	font-size: var(--font-size-2xl);
}
