.heading {
	line-height: 1.25;
}

.color-default {
	color: var(--colors-brand-east-bay);
}

.color-primary {
	color: var(--colors-brand-medium-purple);
}

.size-md {
	font-size: 21px;
}

.size-sm {
	font-size: 18px;
}

.size-xs {
	font-size: 16px;
}