:root {
	--colors-brand-medium-purple: #9879e9;
	--colors-brand-white: #fff;
	--colors-brand-white-lilac: #e8e8e8;
	--colors-brand-east-bay: #455970;
	--colors-transparent: transparent;
	--colors-black: #000;
	--colors-white: #fff;
	
	--colors-gray-100: #f7fafc;
	--colors-gray-200: #edf2f7;
	--colors-gray-300: #e2e8f0;
	--colors-gray-400: #cbd5e0;
	--colors-gray-500: #a0aec0;
	--colors-gray-600: #718096;
	--colors-gray-700: #4a5568;
	--colors-gray-800: #2d3748;
	--colors-gray-900: #1a202c;
	
	--colors-red-100: #fff5f5;
	--colors-red-200: #fed7d7;
	--colors-red-300: #feb2b2;
	--colors-red-400: #fc8181;
	--colors-red-500: #f56565;
	--colors-red-600: #e53e3e;
	--colors-red-700: #c53030;
	--colors-red-800: #9b2c2c;
	--colors-red-900: #742a2a;
	
	--colors-orange-100: #fffaf0;
	--colors-orange-200: #feebc8;
	--colors-orange-300: #fbd38d;
	--colors-orange-400: #f6ad55;
	--colors-orange-500: #ed8936;
	--colors-orange-600: #dd6b20;
	--colors-orange-700: #c05621;
	--colors-orange-800: #9c4221;
	--colors-orange-900: #7b341e;
	
	--colors-yellow-100: #fffff0;
	--colors-yellow-200: #fefcbf;
	--colors-yellow-300: #faf089;
	--colors-yellow-400: #f6e05e;
	--colors-yellow-500: #ecc94b;
	--colors-yellow-600: #d69e2e;
	--colors-yellow-700: #b7791f;
	--colors-yellow-800: #975a16;
	--colors-yellow-900: #744210;
	
	--colors-green-100: #f0fff4;
	--colors-green-200: #c6f6d5;
	--colors-green-300: #9ae6b4;
	--colors-green-400: #68d391;
	--colors-green-500: #48bb78;
	--colors-green-600: #38a169;
	--colors-green-700: #2f855a;
	--colors-green-800: #276749;
	--colors-green-900: #22543d;
	
	--colors-teal-100: #e6fffa;
	--colors-teal-200: #b2f5ea;
	--colors-teal-300: #81e6d9;
	--colors-teal-400: #4fd1c5;
	--colors-teal-500: #38b2ac;
	--colors-teal-600: #319795;
	--colors-teal-700: #2c7a7b;
	--colors-teal-800: #285e61;
	--colors-teal-900: #234e52;
	
	--colors-blue-100: #ebf8ff;
	--colors-blue-200: #bee3f8;
	--colors-blue-300: #90cdf4;
	--colors-blue-400: #63b3ed;
	--colors-blue-500: #4299e1;
	--colors-blue-600: #3182ce;
	--colors-blue-700: #2b6cb0;
	--colors-blue-800: #2c5282;
	--colors-blue-900: #2a4365;
	
	--colors-indigo-100: #ebf4ff;
	--colors-indigo-200: #c3dafe;
	--colors-indigo-300: #a3bffa;
	--colors-indigo-400: #7f9cf5;
	--colors-indigo-500: #667eea;
	--colors-indigo-600: #5a67d8;
	--colors-indigo-700: #4c51bf;
	--colors-indigo-800: #434190;
	--colors-indigo-900: #3c366b;
	
	--colors-purple-100: #faf5ff;
	--colors-purple-200: #e9d8fd;
	--colors-purple-300: #d6bcfa;
	--colors-purple-400: #b794f4;
	--colors-purple-500: #9f7aea;
	--colors-purple-600: #805ad5;
	--colors-purple-700: #6b46c1;
	--colors-purple-800: #553c9a;
	--colors-purple-900: #44337a;
	
	--colors-pink-100: #fff5f7;
	--colors-pink-200: #fed7e2;
	--colors-pink-300: #fbb6ce;
	--colors-pink-400: #f687b3;
	--colors-pink-500: #ed64a6;
	--colors-pink-600: #d53f8c;
	--colors-pink-700: #b83280;
	--colors-pink-800: #97266d;
	--colors-pink-900: #702459;
	
	--spacing-0: 0;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.25rem;
	--spacing-6: 1.5rem;
	--spacing-8: 2rem;
	--spacing-10: 2.5rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
	--spacing-32: 8rem;
	--spacing-40: 10rem;
	--spacing-48: 12rem;
	--spacing-56: 14rem;
	--spacing-64: 16rem;
	--spacing-px: 1px;
	
	--screens-xs: 420px;
	--screens-sm: 640px;
	--screens-md: 768px;
	--screens-lg: 1024px;
	--screens-xl: 1280px;
	
	--screens-max-xs: 419px;
	--screens-max-sm: 639px;
	--screens-max-md: 767px;
	--screens-max-lg: 1023px;
	--screens-max-xl: 1279px;
	
	
	--font-family-serif-0: Roboto Slab;
	--font-family-serif-1: "Times New Roman";
	--font-family-serif-2: serif;
	
	--font-family-sans-0: Apercu;
	--font-family-sans-1: Arial;
	--font-family-sans-2: sans-serif;
	
	--font-family-mono-0: "Roboto Mono";
	--font-family-mono-1: Consolas;
	--font-family-mono-2: monospace;
	
	
	--font-size-base-mobile: 16px;
	--font-size-base-desktop: 18px;
	--font-size-xs: .75rem;
	--font-size-sm: .875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.875rem;
	--font-size-4xl: 2.25rem;
	--font-size-5xl: 3rem;
	--font-size-6xl: 4rem;
	
	--font-weight-hairline: 100;
	--font-weight-thin: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;
	
	--line-height-none: 1;
	--line-height-tight: 1.25;
	--line-height-snug: 1.375;
	--line-height-normal: 1.5;
	--line-height-relaxed: 1.625;
	--line-height-loose: 2;
	
	--letter-spacing-tighter: -.05em;
	--letter-spacing-tight: -.025em;
	--letter-spacing-normal: 0;
	--letter-spacing-wide: .025em;
	--letter-spacing-wider: .05em;
	--letter-spacing-widest: .1em;
	
	--shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
	--shadows-none: none;
	
	--shadows-down-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadows-down-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadows-down-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadows-down-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadows-down-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	--shadows-down-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	
	--shadows-up-sm: 0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadows-up-md: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadows-up-lg: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadows-up-xl: 0 -20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadows-up-2xl: 0 -25px 50px -12px rgba(0, 0, 0, 0.25);
	--shadows-up-inner: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.06);
	
	--min-height-0: 0;
	--min-height-full: 100%;
	--min-height-screen: 100vh;
	
	--min-width-0: 0;
	--min-width-full: 100%;
	
	--opacity-0: 0;
	--opacity-25: 0.25;
	--opacity-50: 0.5;
	--opacity-75: 0.75;
	--opacity-100: 1;
	
	--border-radius-none: 0;
	--border-radius-sm: 0.125rem;
	--border-radius-md: 0.25rem;
	--border-radius-lg: 0.5rem;
	--border-radius-full: 9999px;
	
	--z-index-0: 0;
	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-30: 30;
	--z-index-40: 40;
	--z-index-50: 50;
	--z-index-auto: auto;
	
	--colors-primary: #9879e9;
}