.button {
	border: 1px solid transparent;
	padding: 10px 85px;
	border-radius: 30px;
	box-shadow: 0px 4px 5px var(--colors-brand-white-lilac);
	cursor: pointer;
	transition: all 0.5s ease;
}

.type-primary {
	background: var(--colors-brand-medium-purple);
	color: var(--colors-white);
}

.button:hover {
	filter: brightness(1.1)
}

.button:active {
	filter: brightness(0.9)
}

.type-secondary {
	background: transparent;
	color: var(--colors-brand-medium-purple);
	border: 1px solid var(--colors-brand-medium-purple);
}